# Attrition Analysis with Decision Tree

# Random Forest-

Importing packages

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn import tree

In [4]:
from sklearn import preprocessing

In [5]:
from sklearn.ensemble import RandomForestClassifier

In [6]:
data_train=pd.read_csv("general_data.csv")

In [7]:
data_train

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [8]:
data_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,4410.0,36.923810,9.133301,18.0,30.00,36.0,43.00,60.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,2.00,7.0,14.00,29.0
Education,4410.0,2.912925,1.023933,1.0,2.00,3.0,4.00,5.0
EmployeeCount,4410.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeID,4410.0,2205.500000,1273.201673,1.0,1103.25,2205.5,3307.75,4410.0
JobLevel,4410.0,2.063946,1.106689,1.0,1.00,2.0,3.00,5.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,29110.00,49190.0,83800.00,199990.0
NumCompaniesWorked,4391.0,2.694830,2.498887,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,12.00,14.0,18.00,25.0
StandardHours,4410.0,8.000000,0.000000,8.0,8.00,8.0,8.00,8.0
StockOptionLevel,4410.0,0.793878,0.851883,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,4401.0,11.279936,7.782222,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,2.00,3.0,3.00,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,3.00,5.0,9.00,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,4410.0,4.123129,3.567327,0.0,2.00,3.0,7.00,17.0

In [9]:
label_encoder=preprocessing.LabelEncoder()

In [10]:
data_train["Attrition"]=label_encoder.fit_transform(data_train["Attrition"])

In [11]:
data_train["BusinessTravel"]=label_encoder.fit_transform(data_train["BusinessTravel"])

In [12]:
data_train["EducationField"]=label_encoder.fit_transform(data_train["EducationField"])

In [13]:
data_train["Gender"]=label_encoder.fit_transform(data_train["Gender"])

In [14]:
data_train["Over18"]=label_encoder.fit_transform(data_train["Over18"])

In [15]:
data_train["Department"]=label_encoder.fit_transform(data_train["Department"])

In [16]:
data_train["JobRole"]=label_encoder.fit_transform(data_train["JobRole"])
data_train["MaritalStatus"]=label_encoder.fit_transform(data_train["MaritalStatus"])

In [17]:
data_train

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,0,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,0,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,0,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,2,1,5,4,3,1,4406,0,...,3.0,0,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,1,...,2.0,0,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,1,1,4408,1,...,0.0,0,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,1,...,0.0,0,14,8,1,10.0,2,9,7,8
4409,40,0,2,1,28,3,3,1,4410,1,...,0.0,0,12,8,0,NaN,6,21,3,9

In [18]:
data_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,4410.0,36.923810,9.133301,18.0,30.00,36.0,43.00,60.0
Attrition,4410.0,0.161224,0.367780,0.0,0.00,0.0,0.00,1.0
BusinessTravel,4410.0,1.607483,0.665304,0.0,1.00,2.0,2.00,2.0
Department,4410.0,1.260544,0.527673,0.0,1.00,1.0,2.00,2.0
DistanceFromHome,4410.0,9.192517,8.105026,1.0,2.00,7.0,14.00,29.0
Education,4410.0,2.912925,1.023933,1.0,2.00,3.0,4.00,5.0
EducationField,4410.0,2.247619,1.331067,0.0,1.00,2.0,3.00,5.0
EmployeeCount,4410.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeID,4410.0,2205.500000,1273.201673,1.0,1103.25,2205.5,3307.75,4410.0
Gender,4410.0,0.600000,0.489954,0.0,0.00,1.0,1.00,1.0
JobLevel,4410.0,2.063946,1.106689,1.0,1.00,2.0,3.00,5.0
JobRole,4410.0,4.458503,2.461263,0.0,2.00,5.0,7.00,8.0
MaritalStatus,4410.0,1.097279,0.729955,0.0,1.00,1.0,2.00,2.0
MonthlyIncome,4410.0,65029.312925,47068.888559,10090.0,29110.00,49190.0,83800.00,199990.0
NumCompaniesWorked,4391.0,2.694830,2.498887,0.0,1.00,2.0,4.00,9.0
Over18,4410.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
PercentSalaryHike,4410.0,15.209524,3.659108,11.0,12.00,14.0,18.00,25.0
StandardHours,4410.0,8.000000,0.000000,8.0,8.00,8.0,8.00,8.0
StockOptionLevel,4410.0,0.793878,0.851883,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,4401.0,11.279936,7.782222,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,4410.0,2.799320,1.288978,0.0,2.00,3.0,3.00,6.0
YearsAtCompany,4410.0,7.008163,6.125135,0.0,3.00,5.0,9.00,40.0
YearsSinceLastPromotion,4410.0,2.187755,3.221699,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,4410.0,4.123129,3.567327,0.0,2.00,3.0,7.00,17.0

In [19]:
data_train.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [20]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [21]:
features=["Age","BusinessTravel","Department","DistanceFromHome","Education","EducationField","EmployeeCount","Gender","JobLevel","JobRole","MaritalStatus","MonthlyIncome","YearsSinceLastPromotion","PercentSalaryHike","YearsAtCompany"]

In [22]:
rf_model.fit(X=data_train[features],y=data_train["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
print("OOB accuracy")
print(rf_model.oob_score_)

OOB accuracy
1.0

In [24]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.13851462959232103
BusinessTravel 0.03422617626517968
Department 0.03236682777263582
DistanceFromHome 0.0972315469977862
Education 0.05459361865455379
EducationField 0.05329556260952679
EmployeeCount 0.0
Gender 0.022996291228039305
JobLevel 0.05022490186835686
JobRole 0.076110125906827
MaritalStatus 0.04707747953500732
MonthlyIncome 0.13173420020784504
YearsSinceLastPromotion 0.0583963182007252
PercentSalaryHike 0.0901965347854285
YearsAtCompany 0.11303578637576753

Age,MonthlyIncome,YearsatCompany these three are the most important IDV

# Decision Tree

In [25]:
from sklearn import tree

In [26]:
tree_model=tree.DecisionTreeClassifier()

In [27]:
tree_model.fit(X = pd.DataFrame(data_train["Age"]) , y =pd.DataFrame(data_train["Attrition"]))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
with open("AtrrDtree1.dot" , 'w') as f:
    f = tree.export_graphviz(tree_model , feature_names = ["Age"] , out_file =f)

In [28]:
tree_model.fit(X = pd.DataFrame(data_train["MonthlyIncome"]), y =pd.DataFrame(data_train["Attrition"]))

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
with open("AtrrDtree2.dot" , 'w') as f:
    f = tree.export_graphviz(tree_model , feature_names = ["MonthlyIncome"] , out_file =f)